@model IEnumerable<VacationCalculation.Frontend.Models.EmployeeType.EmployeeTypeViewModel>

@{
    ViewData["Title"] = "Tipos de empleados";
}

<div>
    <div>
        @Html.ActionLink("Crear Nuevo", "CreateEmployeeType")
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DaysPerYear)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysPerYear)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditEmployeeType", new { id = item.Id }, new { @class = "btn btn-sm me-2 btn-primary" })
                        <form asp-action="DeleteEmployeeType" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>