@model IEnumerable<VacationCalculation.Frontend.Models.Employee.EmployeeViewModel>

@{
    ViewData["Title"] = "Lista Empleados";
}

<div class="card">
    <div class="card-header">
        @Html.ActionLink("Crear Nuevo", "CreateEmployee")
    </div>
    <div class="card-body">
        <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Correo Electrónico
                </th>
                <th>
                    Fecha de ingreso
                </th>
                <th>
                    Cumpleaños
                </th>
                <th>
                    Departamento
                </th>
                <th>
                    Tipo de empleado
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEntry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departament)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeType)
                    </td>
                    <td class="d-flex">
                        @Html.ActionLink("Editar", "EditEmployee", new { id = item.Id }, new { @class = "btn btn-sm me-2 btn-primary" })
                        <form asp-action="DeleteEmployee" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>